@use "base";
@import url("../fonts/ibm-plex-sans-v19-latin/index.css");

$primary: #0360d9;
$gray: #2e2e2e;
$light-blue: #163048;
$lighter-blue: #e1eeff;
$dark-blue: #021526;

$title-font-size: 48px;
$border-radius-size: 50px;

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}
.container {
  max-width: 1232px;
  padding: 0 1rem;
  margin: 0 auto;
}
.hero {
  background-color: $lighter-blue;
  min-height: 100dvh;
  display: grid;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;

  .logo {
    a {
      font-size: 2rem;
      font-weight: 700;
      color: $dark-blue;
      cursor: pointer;
      span {
        color: $primary;
      }
    }
  }
  nav {
    ul {
      display: flex;

      li {
        margin-right: 29px;

        &:hover {
          margin-right: 28px;
        }
        &:last-child {
          margin-right: 0;
          &:hover {
            margin-right: 0;
          }
        }

        a {
          font-size: 20px;
          color: #0d2b46;
          position: relative;

          &::after {
            position: absolute;
            // display: none;
            content: "";
            width: 0;
            height: 2px;
            border-radius: 20px;
            background-color: $primary;
            left: 0;
            bottom: -8px;
          }
          &:hover {
            color: $primary;
            font-weight: 500;
            &::after {
              // display: block;
              width: 100%;
              // left: 0;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

/* header_btn_stle*/

.header__btn {
  .head_btn_1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $primary;
    padding: 12px 33px 13px 34px;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: $border-radius-size;
    cursor: pointer;
  }

  .head_btn_2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    padding: 12px 33px 13px 34px;
    background-color: $primary;
    border-radius: $border-radius-size;
    border: none;
    cursor: pointer;
    margin-left: 16px;
  }
}

/*header_end*/
.hero_top {
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: end;
}
.hero_page {
  .hero_title {
    position: relative;
    z-index: 2;
    padding-top: 156px;
    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 83.2p span {
        color: $primary;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20.8px;
      color: $light-blue;
      padding-top: 19p;
    }

    .doctor_img {
      position: absolute;
      top: 0;
      left: 430px;
      z-index: 2;
    }
    .elipse {
      position: absolute;
      top: 0;
      bottom: 100;
      left: 559px;
      z-index: 1;
    }
  }
  .choose {
    display: flex;
    justify-content: space-between;
    width: 590px;
    height: 43px;
    background-color: #fff;
    border-radius: 50px;
    padding: 30px 10px 30px 35px;
    margin-top: 85px;
    position: relative;
    z-index: 2;

    .doctor {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        color: #000000;
      }
    }

    .location {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        color: #000000;
      }
    }

    .search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        padding: 16px;
        border-radius: 50%;
        background-color: $primary;
        cursor: pointer;
      }
    }
  }
}

.hero_info {
  background-color: $primary;
  height: 134px;
  margin-top: 104px;
  color: #ffffff;
  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .container {
    height: 100%;
  }
  .doctor_img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .doctor_ellipse {
    position: absolute;
    z-index: 0;
    top: -400px;
    right: -137px;
    width: 800px;
    height: 400px;
  }
  &-item:nth-child(2) {
    margin-left: 42px;
    margin-right: 47px;
    padding-left: 49px;
    padding-right: 44px;
    border-color: #ffffff;
    border-right: 1px solid;
    border-left: 1px solid;
  }
  &-count {
    font-size: 64px;
    font-weight: 700;
  }
  &-desc {
    text-transform: capitalize;
    text-align: center;
  }
}

.consulting {
  padding-top: 166px;
  .consulting_title {
    font-weight: 700;
    font-size: $title-font-size;
    line-height: 62.4px;
    color: $gray;
  }

  .big-cards {
    display: flex;
    justify-content: baseline;
    gap: 20px;
    padding-top: 40px;
    .card {
      border: 1px solid $dark-blue;
      width: 285px;
      height: 285px;
      border-radius: 20px;
      padding: 40px 15px 40px 29px;

      img {
        background-color: #e6f5fc;
        padding: 24px;
        border-radius: 50%;
      }

      &_title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31.2px;
        color: #021526;
        margin: 12px 0 9px;
      }

      &_text {
        color: $dark-blue;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
      }
    }

    :hover {
      background-color: $primary;
      border-color: $primary;
      transition: background-color 0.4s;
      .card_title,
      .card_text {
        color: #ffffff;
      }
    }
  }
}
