/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .hero {
    .header {
      position: relative;
      margin-top: 25px;
      nav,
      &__btn {
        display: none;
      }
      &__burger {
        display: block;
        width: 40px;
        height: 30px;
        background: transparent;
        position: relative;
        border: none;
        outline: none;

        &-box {
          background-color: #000000;
          border-radius: 12px;
          height: 2px;
          width: 100%;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 0;
            left: 0;
            background-color: #000000;
            transition: all 0.2s;
          }
          &::before {
            transition: all 0.2s;
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000000;
          }
        }
        &.active {
          .header__burger-box {
            background-color: transparent;
            &::after {
              transform: rotate(45deg);
              top: 45%;
              transition: all 0.2s;
            }
            &::before {
              transform: rotate(-45deg);
              bottom: 50%;
              transition: all 0.2s;
            }
          }
        }
      }
    }

    .mobile-header {
      position: absolute;
      width: 100%;
      height: calc(100dvh - 75px);
      top: 50px;
      transform: translateX(-150%);
      background-color: #9fc2ee;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
      transition: transform 0.4s;
      z-index: 55;
      .mobile_nav {
        width: 100%;
        ul {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          gap: 20px;

          li {
            width: 80%;
            a {
              display: block;
              width: 100%;
              color: #ffff;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              padding: 8px;
              border-radius: 8px;
              border: 1px solid #f1f1f1;
            }
          }
        }
      }
      .mobile__btn {
        margin-top: 50px;
        display: flex;

        gap: 30px;

        .head_btn_1 {
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: #0360d9;
          padding: 12px 33px 13px 34px;
          background-color: transparent;
          border: 1px solid #0360d9;
          border-radius: 50px;
          cursor: pointer;
        }

        .head_btn_2 {
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: #fff;
          padding: 12px 33px 13px 34px;
          background-color: #0360d9;
          border: 1px solid #0360d9;
          border-radius: 50px;
          cursor: pointer;
        }
      }
    }
    .mobile-header.active {
      transform: translateX(0);
      transition: transform 0.4s;
    }

    .hero_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .doctor_img {
      z-index: 2;
      right: 100px;
      bottom: 134px;
      height: 550px;
    }
    .doctor_ellipse {
      z-index: 1;
      right: -17px;
    }

    .hero_info {
    }

    .hero_info-wrapper {
      margin-top: 734px;
      z-index: 3;
    }
  }

  .consulting {
    .big-cards {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-wrap: wrap;
    }
  }

  .choose_us-wrapper {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
  }

  .wrappss {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    .members-left {
      h1 {
        padding-top: 10px !important;
      }
    }

    .big_card {
      margin-top: 70px !important;
    }
  }

  .future-wrappers {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .the-end {
    height: 100%;
  }
  .footer-wrapp {
    flex-wrap: wrap;
    padding-top: 20px !important;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    .doctor_img {
      right: 0;
    }
    .hero_info-wrapper {
      justify-content: center;
    }
    .hero_wrap {
      align-items: flex-start;
    }
  }
  .consulting .consulting_title {
    margin-top: 50px;
  }
  .hero_page {
    .hero_title {
      padding-top: 50px;
      h1 {
        font-size: 30px;
        line-height: 125%;
      }

      img {
        width: 131px;
      }

      p {
        font-size: 14px;
      }
    }
    .choose {
      width: 100%;
      margin-top: 35px;

      .doctor {
        p {
          font-size: 12px;
        }
      }
      .location {
        p {
          font-size: 12px;
        }
      }
      .search {
        img {
          width: 43px;
        }
      }
    }
  }

  .hero_info {
    .hero_info-wrapper {
      margin-top: 563px;

      .hero_info-item:nth-child(2) {
        padding-left: 18px;
        padding-right: 18px;
        margin-left: 18px;
        margin-right: 18px;
      }
    }
    .hero_info-count {
      font-size: 24px;
    }
    .hero_info-desc {
      font-size: 14px;
    }
  }

  .consulting {
    .consulting_title {
      font-size: 24px;
      line-height: 30px;
    }

    .big-cards {
      .card {
        width: 100%;
        height: 250px;
        img {
          padding: 18px;
          width: 60px;
        }
        .card_title {
          font-size: 18px;
        }
        .card_text {
          font-size: 14px;
        }
      }
    }
  }

  .choose_us {
    .choose_us-wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
      gap: 40px;

      .choose-link {
        margin-top: 20px;
        p {
          font-size: 12px;
        }
        img {
          width: 12px;
        }
      }
    }
    .choose_us-left {
      img {
        width: 100%;
      }
    }
    .choose_us-right {
      h3 {
        font-size: 24px;
        line-height: 30px;
      }

      ul {
        li {
          img {
            width: 12px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .our-members {
    .wrappss {
      .members-left {
        h1 {
          font-size: 28px;
          line-height: 30px;
          margin-top: 30px;
        }

        p {
          font-size: 14px;
          line-height: 10 px;
        }

        .mans {
          img {
            width: 40px;
            height: 40px;
          }
          p {
            font-size: 12px;
          }
        }
      }

      .members-right {
        .big_card {
          width: 100%;
          height: auto;
          padding: 20px 25px;
          .cooper {
            img {
              width: 40px;
              height: 40px;
            }
          }
          .stars {
            img {
              width: 23px;
              height: 21px;
            }
          }
          .card-lorem {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
