@import url("../fonts/ibm-plex-sans-v19-latin/index.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.container {
  max-width: 1232px;
  padding: 0 1rem;
  margin: 0 auto;
}

.hero {
  background-color: #e1eeff;
  min-height: 100dvh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}
.header .logo a {
  font-size: 2rem;
  font-weight: 700;
  color: #021526;
  cursor: pointer;
}
.header .logo a span {
  color: #0360d9;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  margin-right: 29px;
}
.header nav ul li:hover {
  margin-right: 28px;
}
.header nav ul li:last-child {
  margin-right: 0;
}
.header nav ul li:last-child:hover {
  margin-right: 0;
}
.header nav ul li a {
  font-size: 20px;
  color: #0d2b46;
  position: relative;
}
.header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #0360d9;
  left: 0;
  bottom: -8px;
}
.header nav ul li a:hover {
  color: #0360d9;
  font-weight: 500;
}
.header nav ul li a:hover::after {
  width: 100%;
  transition: all 0.3s;
}

/* header_btn_stle*/
.header__btn .head_btn_1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #0360d9;
  padding: 12px 33px 13px 34px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: transparent;
  border: 1px solid #0360d9;
  border-radius: 50px;
  cursor: pointer;
}
.header__btn .head_btn_2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  padding: 12px 33px 13px 34px;
  background-color: #0360d9;
  border-radius: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

/*header_end*/
.hero_page .hero_title {
  position: relative;
  padding-top: 156px;
}
.hero_page .hero_title h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 83.2px;
  font-family: "IBM Plex Sans", sans-serif;
}
.hero_page .hero_title h1 span {
  color: #0360d9;
}
.hero_page .hero_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #163048;
  padding-top: 19px;
  font-family: "IBM Plex Sans", sans-serif;
}
.hero_page .hero_title .choose {
  display: flex;
  justify-content: space-between;
  width: 590px;
  height: 43px;
  background-color: #fff;
  border-radius: 50px;
  padding: 30px 10px 30px 35px;
  margin-top: 85px;
}
.hero_page .hero_title .choose .doctor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero_page .hero_title .choose .doctor p {
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #000000;
}
.hero_page .hero_title .choose .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero_page .hero_title .choose .location p {
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #000000;
}
.hero_page .hero_title .choose .search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero_page .hero_title .choose .search img {
  padding: 16px;
  border-radius: 50%;
  background-color: #0360d9;
  cursor: pointer;
}
.hero_page .hero_title .doctor_img {
  position: absolute;
  top: 0;
  left: 430px;
  z-index: 2;
}
.hero_page .hero_title .elipse {
  position: absolute;
  top: 0;
  bottom: 100;
  left: 559px;
  z-index: 1;
}

/*# sourceMappingURL=index.css.map */
