@import url("../fonts/ibm-plex-sans-v19-latin/index.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.container {
  max-width: 1232px;
  padding: 0 1rem;
  margin: 0 auto;
}

.hero {
  background-color: #e1eeff;
  min-height: 100dvh;
  display: grid;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
}
.header .logo a {
  font-size: 2rem;
  font-weight: 700;
  color: #021526;
  cursor: pointer;
}
.header .logo a span {
  color: #0360d9;
}
.header nav ul {
  display: flex;
}
.header nav ul li {
  margin-right: 29px;
}
.header nav ul li:hover {
  margin-right: 28px;
}
.header nav ul li:last-child {
  margin-right: 0;
}
.header nav ul li:last-child:hover {
  margin-right: 0;
}
.header nav ul li a {
  font-size: 20px;
  color: #0d2b46;
  position: relative;
}
.header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #0360d9;
  left: 0;
  bottom: -8px;
}
.header nav ul li a:hover {
  color: #0360d9;
  font-weight: 500;
}
.header nav ul li a:hover::after {
  width: 100%;
  transition: all 0.3s;
}

/* header_btn_stle*/
.header__btn .head_btn_1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #0360d9;
  padding: 12px 33px 13px 34px;
  background-color: transparent;
  border: 1px solid #0360d9;
  border-radius: 50px;
  cursor: pointer;
}
.header__btn .head_btn_2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  padding: 12px 33px 13px 34px;
  background-color: #0360d9;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: 16px;
}

/*header_end*/
.hero_top {
  width: 100%;
  height: 100%;
}

.hero_page .hero_title {
  position: relative;
  z-index: 2;
  padding-top: 156px;
}
.hero_page .hero_title h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 83.2px;
}
.hero_page .hero_title h1 span {
  color: #0360d9;
}
.hero_page .hero_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #163048;
  padding-top: 19p;
}
.hero_page .hero_title .doctor_img {
  position: absolute;
  top: 0;
  left: 430px;
  z-index: 2;
}
.hero_page .hero_title .elipse {
  position: absolute;
  top: 0;
  bottom: 100;
  left: 559px;
  z-index: 1;
}
.hero_page .choose {
  display: flex;
  justify-content: space-between;
  width: 590px;
  height: 43px;
  background-color: #fff;
  border-radius: 50px;
  padding: 30px 10px 30px 35px;
  margin-top: 85px;
  position: relative;
  z-index: 2;
}
.hero_page .choose .doctor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero_page .choose .doctor p {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #000000;
}
.hero_page .choose .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero_page .choose .location p {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #000000;
}
.hero_page .choose .search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero_page .choose .search img {
  padding: 16px;
  border-radius: 50%;
  background-color: #0360d9;
  cursor: pointer;
}

.hero_info {
  background-color: #0360d9;
  height: 134px;
  margin-top: 104px;
  color: #ffffff;
}
.hero_info-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero_info .container {
  height: 100%;
}
.hero_info .doctor_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero_info .doctor_ellipse {
  position: absolute;
  z-index: 0;
  top: -400px;
  right: -137px;
  width: 800px;
  height: 400px;
}
.hero_info-item:nth-child(2) {
  margin-left: 42px;
  margin-right: 47px;
  padding-left: 49px;
  padding-right: 44px;
  border-color: #ffffff;
  border-right: 1px solid;
  border-left: 1px solid;
}
.hero_info-count {
  font-size: 64px;
  font-weight: 700;
}
.hero_info-desc {
  text-transform: capitalize;
  text-align: center;
}

.consulting .consulting_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  color: #2e2e2e;
  margin-top: 166px;
}
.consulting .big-cards {
  display: flex;
  justify-content: baseline;
  gap: 20px;
  padding-top: 40px;
}
.consulting .big-cards .card {
  border: 1px solid #021526;
  width: 285px;
  height: 285px;
  border-radius: 20px;
  padding: 40px 15px 40px 29px;
}
.consulting .big-cards .card img {
  background-color: #e6f5fc;
  padding: 24px;
  border-radius: 50%;
}
.consulting .big-cards .card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  color: #021526;
  margin: 12px 0 9px;
}
.consulting .big-cards .card_text {
  color: #021526;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}
.consulting .big-cards :hover {
  background-color: #0360d9;
  border-color: #0360d9;
}
.consulting .big-cards :hover .card_title,
.consulting .big-cards :hover .card_text {
  color: #ffffff;
}

.choose_us-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin: 150px 0;
}
.choose_us-wrapper .choose_us-right h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  color: #2e2e2e;
}
.choose_us-wrapper .choose_us-right ul {
  margin-top: 33px;
}
.choose_us-wrapper .choose_us-right ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 13px;
}
.choose_us-wrapper .choose_us-right ul li p {
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
}
.choose_us-wrapper .choose-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 34px;
}
.choose_us-wrapper .choose-link p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: #0360d9;
}

/**/
.our-members {
  background-color: #e1eeff !important;
  height: 616px;
}
.our-members .wrappss {
  display: flex;
  justify-content: space-between;
}
.our-members .wrappss .members-left h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  color: #2e2e2e;
  padding-top: 156px;
  color: #021526;
}
.our-members .wrappss .members-left h1 span {
  color: #0360d9;
}
.our-members .wrappss .members-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
  margin-top: 22px;
}
.our-members .wrappss .members-left .mans {
  position: relative;
  margin-top: 34px;
}
.our-members .wrappss .members-left .mans img {
  position: absolute;
}
.our-members .wrappss .members-left .mans .mans_img-2 {
  left: 34px;
  z-index: 1;
}
.our-members .wrappss .members-left .mans .mans_img-3 {
  left: 69px;
  z-index: 1;
}
.our-members .wrappss .members-left .mans .mans_img-4 {
  left: 104px;
  z-index: 1;
}
.our-members .wrappss .members-left .mans .mans_img-5 {
  left: 139px;
  z-index: 1;
}
.our-members .wrappss .members-left .mans .mans_img-6 {
  left: 174px;
  z-index: 1;
}
.our-members .wrappss .members-left .mans p {
  position: absolute;
  left: 250px;
  top: -8px;
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #2e2e2e;
}
.our-members .wrappss .members-right .big_card {
  width: 590px;
  height: 305px;
  border: 1px solid #a8a8a8;
  border-radius: 20px;
  margin-top: 156px;
  background-color: #ffffff;
  padding: 49px 44px 75px 52px;
}
.our-members .wrappss .members-right .big_card .left-to-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-members .wrappss .members-right .big_card .left-to-right .cooper {
  display: flex;
  gap: 18px;
  align-items: center;
}
.our-members .wrappss .members-right .big_card .left-to-right .cooper h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
}
.our-members .wrappss .members-right .big_card .left-to-right .cooper p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  color: #2e2e2e;
}
.our-members .wrappss .members-right .big_card .card-lorem {
  margin-top: 54px;
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
}

.the-future .future-wrappers {
  display: flex;
  justify-content: space-between;
  gap: 66px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.the-future .future-left .future-h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  color: #2e2e2e;
}
.the-future .future-left .future-h2 span {
  color: #0360d9;
}
.the-future .future-left .future-text {
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
  margin-top: 34px;
}
.the-future .future-left .future-text-2 {
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
  margin-top: 10px;
}
.the-future .future-left .future-text-3 {
  font-size: 16px;
  line-height: 20.8px;
  color: #2e2e2e;
  margin-top: 14px;
}
.the-future .future-left .future-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #0360d9;
  font-size: 500;
  font-size: 16px;
  line-height: 20.8px;
  margin-top: 28px;
}

.subscribe {
  margin-bottom: 146px;
}
.subscribe_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 150px;
  height: 85px;
  background-color: #ffffff;
  margin-top: 37px;
}
.subscribe_input {
  width: 80%;
  border: none;
  outline: none;
  margin-left: 24px;
  font-size: 24px;
}
.subscribe_input :focus {
  border: none;
  outline: none;
}
.subscribe_btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #0360d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin-right: 17px;
  cursor: pointer;
  transition: all 0.2s;
}
.subscribe_btn:hover {
  transform: scale(1.1);
}
.subscribe .sub_block {
  padding: 0 122px;
  width: 100%;
  height: 350px;
  background-color: #0360d9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe .sub_block h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

.the-end {
  background-color: #0360d9;
  height: 471px;
}
.the-end .footer-wrapp {
  display: flex;
  justify-content: space-between;
  padding-top: 101px;
}
.the-end .footer-wrapp .footer-left a {
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  color: #ffffff;
}
.the-end .footer-wrapp .footer-left .footer-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20.8px;
  margin-top: 33px;
}
.the-end .footer-wrapp .footer-left .footer-text-2 {
  color: #ffffff;
  font-size: 16px;
  line-height: 20.8px;
  margin-top: 20px;
}
.the-end .footer-wrapp .footer-left .platformm {
  margin-top: 18px;
}
.the-end .footer-wrapp .footer-left .platformm img {
  cursor: pointer;
}
.the-end .footer-wrapp .footer-left .platformm .insta {
  padding-left: 10px;
}
.the-end .footer-wrapp .footer-middle h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
}
.the-end .footer-wrapp .footer-middle ul {
  margin-top: 33px;
}
.the-end .footer-wrapp .footer-middle ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: #ffffff;
}
.the-end .footer-wrapp .footer-right h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
}
.the-end .footer-wrapp .footer-right .footer_maps {
  width: 366px;
  height: 160px;
  border-radius: 20px;
}
.the-end .footer-line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 80px;
}
.the-end .footer-end_p p {
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}

/*# sourceMappingURL=index.css.map */
